.root {
  @apply rounded-lg font-normal py-2 px-5 flex items-center gap-2 w-full justify-center;
  font-size: 12.8px;
  transition: all 0.15s linear;
}

.primary {
  @apply text-white hover:bg-green-secondary;
  background-color: #93BC1E;
}

.secondary {
  @apply bg-transparent border text-white hover:bg-slate-800 border-solid border-2 border-white;
}

.icon {
  @apply  text-white hover:bg-slate-800 p-0;
}

.dropdown {
  @apply  text-white hover:bg-slate-800 py-1 justify-start;
}

.error {
  @apply bg-red-400 text-white hover:bg-red-500;
}