@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --color-background: #F9FAFB;
    --dark-color-background: #222429;
}

@layer base{
    body{
        background-image: url("../../public//images/bg.svg");
    }
    .dark {
        background-image: none;
        background-color: var(--dark-color-background) !important;
    }

    ::-webkit-scrollbar {
        width: 4px;
    }
    
    ::-webkit-scrollbar-track {
        background: #252932;
        border-radius: 10px;
    }
    
    ::-webkit-scrollbar-thumb {
        background: #93BC1E;
        border-radius: 10px;
    }
    
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}